
.images-container{
    width: 45vw;
    height: 26vw;
    display: grid;
    transform-style: preserve-3d;
    grid-template-columns: repeat(3, 40%);
    justify-content: center;
    grid-gap: 0 150px;
}
@media (max-width: 768px) {
    .images-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}